.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.header {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #555;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.main {
    flex: 1;
    padding: 30px 0;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e9ecef;
    text-align: center;
    color: #6c757d;
}

.main-button {
    margin: 10px 0;
    padding: 10px 16px;
    background-color: #7066e0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-size: 1em;
}

.main-button:hover {
    background-color: #655CC9;
}

.secondary-button{
    margin: 10px 0;
    padding: 10px 16px;
    background-color: #a4a4a4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-size: 1em;
}

.secondary-button:hover {
    background-color: #707070;
}

.secondary-button-near{
    margin: 5px 5px;
    padding: 10px 16px;
    background-color: #a4a4a4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*display: flex;*/
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-size: 1em;
}

.secondary-button-near:hover {
    background-color: #707070;
}